* {
  /* background: black;
  color: white; */
}

.flex-container {
  display: flex;
}

.app {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 15%;
  margin-right: 15%; */
  width: 100vw;
  height: 70vh;
  /* border: solid 1px black; */
}

/* .create-client-container, .create-prestamo-container, .home {
  margin-top: 10%;
} */

